<h4>Make a new card for this list</h4>

<form class="new_card">  
    <label for="title">Title</label> <br />
    <input type="text" id="title" name="card[title]" > <br />
    <label for="description">Description</label> <br />
    <input type="text" id="description" name="card[description]" ><br />
    <label for="ord">Importance: from 0(less) to 10(more)</label> <br />
    <input type="number" min="0" max="10" name="card[ord]" /> <br /> <br />
    <input type="submit" value="Submit" />
</form>