<section class="cardDetails">
  <b>Title</b>: <%= card.escape('title') %>
  <br />
  <b>Description</b>: <%= card.escape("description") %>
  <br />
  <b>Ranking</b>: <%= card.escape('ord') %>
  <br />
  <button class="deleteCard invisible">Delete</button>
</section>
