<li>
  Title: <%= card.escape('title') %>
  <br />
  Description: <%= card.escape("description") %>
  <br />
  Ranking: <%= card.escape('ord') %>
  <br />
  <button class="deleteCard">Delete</button>
</li>
