<div class="row">
  
  <div class="col-xs-12">

    <h2>Boards</h2>

    <% boards.models.forEach(function(board){ %>
      <li>
    
        <div class="board-link">
          <a href="#boards/<%= board.id %>"><%= board.escape('title') %></a>      
        </div>
    
      </li>
    <% }) %>
  
  </div>
  
</div>
