<div class="centered">

  <header>
    <h1>Welcome to Trello(clone)!</h1>
    <h3>These are your boards:</h3>
  </header>

  <div class="row">
    <div class="col-xs-12">
      <% boards.models.forEach(function(board){ %>
        <li>    
          <div class="board-link">
            <a class="fancy" href="#boards/<%= board.id %>"><%= board.escape('title') %></a>    
          </div>  
        </li>
      <% }) %>
    </div>
  </div>

</div>
