<hr />

<h3>Board Show</h3>

<ul class="board">
  <li class="title"><%= board.escape('title') %></li>
</ul>

<ul class="lists">
  <em>Lists</em>
</ul>

<button class="delete">Delete Board</button>

<a href="#boards/<%= board.get("id") %>/lists/new">Make a new List</a>

<a href="#">Back to Boards Index</a>

<hr />