<ul class="board">
  <li class="title"><%= board.escape('title') %></li>
</ul>

<hr>
<ul class="lists">
  <% board.lists().forEach(function(list){ %>
    <li><b>Ord is <%= list.escape('ord') %></b> <%= list.escape('title') %></li>
  <% }); %>
</ul>


<a href="#boards/<%= board.get("id") %>/lists/new">Make a new List</a>

<a href="#">Back to Boards Index</a>