<section class="header">
  <div class="row boardHeader">
    <div class="col-xs-2 col-xs-offset-5">
      <h2><%= board.escape('title') %></h2>
      Note: lists and items are sortable! Just drag and drop.
    </div>
  </div>
</section>
  
<section class="boardLists">
  <div class="row">
    <div class="col-xs-12">
      <ul class="lists">
        <!-- list subviews -->
      </ul>
    </div>
  </div>  
</section>         

<section class="newList">
  <div class="row">
    <div class="col-xs-12">
      <div class="new-list">
        <!-- new list subview -->
      </div>    
    </div>
  </div>
</section> 
       
<section class="boardLinks">                 
  <div class="row">
    <div class="col-xs-6">  
      <button class="delete">Delete Board</button>
    </div>
    <div class="col-xs-6">   
      <a href="#">Back to Boards Index</a>
    </div>
  </div>
</section>
