<div class="row">
  
  <div class="col-xs-12">
    
    <h2><%= board.escape('title') %></h2>
  
    <ul class="lists"></ul>

  </div>
  
</div>

<div class="row">
  
  <div class="col-xs-3">
    
    <button class="delete">Delete Board</button>

  </div>

  <div class="col-xs-3">
    
    <a href="#">Back to Boards Index</a>

  </div>

</div>