/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 */

@import "bootstrap";
@import "font-awesome";

* {
//  border: 1px solid green;
}

body {
    background: #EBEBFA;
}

.centered {
  width: 50%;
  margin: 0 auto;
}

li {
  list-style: none;
}

.boardShow{
  margin-left: 50px;
//  width: 50%;
}

.boardHeader {
  margin-bottom: 20px;
}

.listHeader {
  margin-bottom: 10px;
}

.cardsList {
  margin-bottom: 20px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 15px;
}

.deleteList {
  margin-top: 15px;
}

.newCard {
  border: 1px solid black;
  border-radius: 5px;
  padding: 15px;
}

.cardShow {
  margin-bottom: 20px;
}

li.listShow {
  border: 1px solid red;
  border-radius: 5px;
  padding: 15px;
  margin-right: 10px;
  width: 32%;
  float: left;
  margin-bottom: 20px;
  background: #FFE6F0;
}

.board-link {
  border: 1px solid black;
  padding: 30px;
  margin: 10px;
  width: 100px;
  border-radius: 10px;
  float: left;
}

.newList {
  margin-left: 50px;
  width: 25%;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  background: #CCFFFF;
}

.newListSubview {
  text-align: center;
}

.boardLinks {
  border: 1px solid black;
  padding: 10px;
  margin-top: 20px;
  width: 25%;
  margin-left: 50px;
  margin-bottom: 100px;
}

//
//.new-board{
//  display: block;
//}
//
//button.delete{
//  display: block;
//}
//
//
//.listShows{
//  margin-bottom: 20px;
//}
//
//.boardList{
//  border-top: 1px solid blue;
//  border-right: 1px solid blue;
//  border-left: 1px solid blue;
//  width: 50%;
//  padding: 30px;
//  margin-top: 40px;
//}
//
//.new_card {
//  border-bottom: 1px solid blue;
//  border-right: 1px solid blue;
//  border-left: 1px solid blue;
////  border-top: 1px solid blue;
//  width: 50%;
//}