/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 */

@import "bootstrap";
@import "font-awesome";

@mixin box-shadow {
  -webkit-box-shadow: 0px 0px 18px 0px rgba(38, 65, 76, 0.75);
  -moz-box-shadow:    0px 0px 18px 0px rgba(38, 65, 76, 0.75);
  box-shadow:         0px 0px 18px 0px rgba(38, 65, 76, 0.75);
}

.text-center {
  text-align: center;
}

.test {
  border: 1px solid black;
}

* {
//  border: 1px solid green;
}

body {
    background: #EBEBFA;
    font-family: 'Josefin Sans', sans-serif;
}

.centered {
  width: 500px;
  margin: 0 auto;
}

li {
  list-style: none;
}

.boardShow{
  margin-left: 50px;
//  width: 50%;
}

.boardHeader {
  margin-bottom: 20px;
}

.listHeader {
  margin-bottom: 10px;
}

.cardsList {
  margin-bottom: 20px;
  border: 1px solid black;
  @include box-shadow;
  border-radius: 5px;
  padding: 15px;
}

.deleteList {
  margin-top: 15px;
}

.newCard {
  @include box-shadow;
  border: 1px solid black;
  border-radius: 5px;
  padding: 15px;
}

.cardShow {
  margin-bottom: 20px;
}

li.listShow {
  @include box-shadow;
  border: 1px solid red;
  border-radius: 5px;
  padding: 15px;
  margin-right: 10px;
  width: 300px;
  float: left;
  margin-bottom: 20px;
  background: #FFE6F0;
}

.board-link {
  @include box-shadow;
  border: 1px solid black;
  padding: 30px;
  margin: 10px;
  width: 100px;
  border-radius: 10px;
  float: left;
}

.newList {
  margin-left: 50px;
  width: 250px;
  @include box-shadow;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  background: #CCFFFF;
}

.newListSubview {
  text-align: center;
}

.boardLinks {
  @include box-shadow;
  border: 1px solid black;
  padding: 10px;
  margin-top: 20px;
  width: 250px;
  margin-left: 50px;
  margin-bottom: 100px;
}

.invisible {
  visibility: hidden;
}

.ui-sortable-helper {
 text-shadow: 2px 2px #FFFF99;
 -ms-transform: rotate(7deg); /* IE 9 */
 -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
 transform: rotate(7deg);
}



//
//.new-board{
//  display: block;
//}
//
//button.delete{
//  display: block;
//}
//
//
//.listShows{
//  margin-bottom: 20px;
//}
//
//.boardList{
//  border-top: 1px solid blue;
//  border-right: 1px solid blue;
//  border-left: 1px solid blue;
//  width: 50%;
//  padding: 30px;
//  margin-top: 40px;
//}
//
//.new_card {
//  border-bottom: 1px solid blue;
//  border-right: 1px solid blue;
//  border-left: 1px solid blue;
////  border-top: 1px solid blue;
//  width: 50%;
//}
