/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 */

@import "bootstrap";
@import "font-awesome";

li {
  list-style: none;
}

.board-index {
}

.board-link {
  border: 1px solid black;
  padding: 30px;
  margin: 10px;
  width: 100px;
  border-radius: 10px;
  float: left;
}

.new-board{
  display: block;
}

button.delete{
  display: block;
}


.listShows{
  margin-bottom: 20px;
}

.boardList{
  border: 1px solid blue;
  width: 300px;
  padding: 30px;
}