<form id="new_list">
    <label for="title">Title</label>

    <input type="text" id="title" name="list[title]" >
  
    <input type="submit" value="Submit" />
  
</form>


<a href="#">Back to Boards Index</a>