<section class="newListSubview">

  <h3>New List</h3>

  <form id="new_list">
      <label for="title">Title</label> <br />
      <input type="text" id="title" name="list[title]" > <br /> <br />
      <label for="ord">Ranking (choose 0 to signify least importance; Ranking is required)</label> <br /> <br />
      <input type="number" min="0" max="10" name="list[ord]"/> <br /> <br />
      <input type="submit" value="Submit" />
  </form>

</section>
