<header class="listHeader">
  <div class="row">
    <div class="col-xs-6">
      <b class="centered"><%= list.escape('title') %></b>
    </div>
    <div class="col-xs-3 col-xs-offset-3">
      <span class="listOrd"> <b>Rank: <%= list.escape('ord') %> </b></span> 
    </div>
  </div>
</header>

<section class="cardsList">
  <div class="row">
    <div class="col-xs-12">
      <h4>Cards</h4>
      <ul class="cards">
        <li class="unsortable"><em>drag and drop to reorder</em></li>
      </ul>
    </div>
  </div>  
</section> 

<div class="new-card"></div>

<section class="deleteList">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4" >
      <section.deleteButton>
        <button class="delete-list">
          Delete List
        </button>
      </section>
    </div>
  </div>
</section>
